[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded.git
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm