[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded.git
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
[submodule "meta-orangepi"]
	path = meta-orangepi
	url = https://github.com/acvigue/meta-orangepi
	branch = styhead
